In [1]:
import pandas as pd

### Series

In [ ]:
carros = ['Gol', 'Ferrari', 'BMW']
carros

['Gol', 'Ferrari', 'BMW']

In [ ]:
pd.Series(carros)

0        Gol
1    Ferrari
2        BMW
dtype: object

In [ ]:
teste = pd.Series(carros)

In [ ]:
type(teste)

pandas.core.series.Series

### DataFrames

In [ ]:
dados = [
         {'Nome': 'Gol', 'Motor': 1.0, 'Ano': 1999, 'Km':100000},
         {'Nome': 'Ferrari', 'Motor': 5.0, 'Ano': 2020, 'Km':900},
         {'Nome': 'BMW', 'Motor': 2.0, 'Ano': 2021, 'Km':18000},
]

In [ ]:
dados

[{'Ano': 1999, 'Km': 100000, 'Motor': 1.0, 'Nome': 'Gol'},
 {'Ano': 2020, 'Km': 900, 'Motor': 5.0, 'Nome': 'Ferrari'},
 {'Ano': 2021, 'Km': 18000, 'Motor': 2.0, 'Nome': 'BMW'}]

In [ ]:
dados[0]

{'Ano': 1999, 'Km': 100000, 'Motor': 1.0, 'Nome': 'Gol'}

In [ ]:
print(dados[2]['Nome'])
print(dados[2]['Ano'])

BMW
2021

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      BMW    2.0  2021   18000

In [ ]:
dataset['Motor']

0    1.0
1    5.0
2    2.0
Name: Motor, dtype: float64

In [ ]:
dataset[['Nome', 'Motor']]

      Nome  Motor
0      Gol    1.0
1  Ferrari    5.0
2      BMW    2.0

In [ ]:
dataset[['Nome']]

      Nome
0      Gol
1  Ferrari
2      BMW

In [ ]:
dados = {
    'Nome': ['Gol', 'Ferrari', 'Bmw'],
    'Motor': [1.0, 5.0, 2.0],
    'Ano': [1999, 2020, 2021],
    'Km': [100000, 900, 18000]
}

In [ ]:
dados

{'Ano': [1999, 2020, 2021],
 'Km': [100000, 900, 18000],
 'Motor': [1.0, 5.0, 2.0],
 'Nome': ['Gol', 'Ferrari', 'Bmw']}

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000

### Carregando arquivos externos

In [ ]:
# Para montar o drive e carregar o dataset
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/colab/aluguel.csv'

Mounted at /content/drive

In [ ]:
aluguel = pd.read_csv(path, sep=';')

In [ ]:
aluguel

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [ ]:
aluguel.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [ ]:
aluguel.tail()

                          Tipo                Bairro  ...  Condominio    IPTU
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[5 rows x 9 columns]

In [ ]:
aluguel.shape

(32960, 9)

In [ ]:
aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
aluguel.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [ ]:
aluguel['Quartos']

0        1
1        2
2        0
3        1
4        1
        ..
32955    0
32956    3
32957    2
32958    2
32959    0
Name: Quartos, Length: 32960, dtype: int64

In [ ]:
aluguel[['Bairros', 'Quartos']]

KeyError: ignored

In [ ]:
aluguel[['Bairro', 'Quartos']]

                     Bairro  Quartos
0                Copacabana        1
1           Jardim Botânico        2
2           Barra da Tijuca        0
3                    Centro        1
4              Higienópolis        1
...                     ...      ...
32955                Centro        0
32956           Jacarepaguá        3
32957  São Francisco Xavier        2
32958                Leblon        2
32959                Centro        0

[32960 rows x 2 columns]

In [ ]:
aluguel['País'] = 'Brasil'

In [ ]:
aluguel

                          Tipo                Bairro  ...    IPTU    País
0                    Quitinete            Copacabana  ...    60.0  Brasil
1                         Casa       Jardim Botânico  ...     NaN  Brasil
2      Conjunto Comercial/Sala       Barra da Tijuca  ...  1111.0  Brasil
3                  Apartamento                Centro  ...    20.0  Brasil
4                  Apartamento          Higienópolis  ...     NaN  Brasil
...                        ...                   ...  ...     ...     ...
32955                Quitinete                Centro  ...    25.0  Brasil
32956              Apartamento           Jacarepaguá  ...    40.0  Brasil
32957              Apartamento  São Francisco Xavier  ...    37.0  Brasil
32958              Apartamento                Leblon  ...     NaN  Brasil
32959  Conjunto Comercial/Sala                Centro  ...  1109.0  Brasil

[32960 rows x 10 columns]

In [ ]:
aluguel['Valor_Completo'] = aluguel['Valor'] + aluguel['Condominio']

In [ ]:
aluguel

                          Tipo                Bairro  ...    País  Valor_Completo
0                    Quitinete            Copacabana  ...  Brasil          2200.0
1                         Casa       Jardim Botânico  ...  Brasil             NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...  Brasil          9220.0
3                  Apartamento                Centro  ...  Brasil          1190.0
4                  Apartamento          Higienópolis  ...  Brasil          1030.0
...                        ...                   ...  ...     ...             ...
32955                Quitinete                Centro  ...  Brasil          1150.0
32956              Apartamento           Jacarepaguá  ...  Brasil          2600.0
32957              Apartamento  São Francisco Xavier  ...  Brasil          1909.0
32958              Apartamento                Leblon  ...  Brasil          3760.0
32959  Conjunto Comercial/Sala                Centro  ...  Brasil         10706.0

[32960 rows x 11 columns]

### Filtros

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000

In [ ]:
dataset.append({'Nome': 'Jetta', 'Motor': 2.0, 'Ano': 2015, 'Km':150000}, ignore_index=True)

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000
3    Jetta    2.0  2015  150000

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000

In [ ]:
dataset = dataset.append({'Nome': 'Jetta', 'Motor': 2.0, 'Ano': 2015, 'Km':150000}, ignore_index=True)

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000
3    Jetta    2.0  2015  150000

In [ ]:
dataset[:3]

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000

In [ ]:
dataset[:3]['Nome']

0        Gol
1    Ferrari
2        Bmw
Name: Nome, dtype: object

In [ ]:
dataset[:3][['Nome', 'Motor']]

      Nome  Motor
0      Gol    1.0
1  Ferrari    5.0
2      Bmw    2.0

In [ ]:
dataset[:3, :1]

TypeError: ignored

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000
3    Jetta    2.0  2015  150000

In [ ]:
dataset.iloc[:3, 1]

0    1.0
1    5.0
2    2.0
Name: Motor, dtype: float64

In [ ]:
dataset.iloc[0, 1]

1.0

In [ ]:
dataset.iloc[2:4, :]

    Nome  Motor   Ano      Km
2    Bmw    2.0  2021   18000
3  Jetta    2.0  2015  150000

In [ ]:
dataset.iloc[2:4, -1]

2     18000
3    150000
Name: Km, dtype: int64

In [ ]:
dataset.iloc[:, 0:2]

      Nome  Motor
0      Gol    1.0
1  Ferrari    5.0
2      Bmw    2.0
3    Jetta    2.0

In [ ]:
dataset.iloc[:, [0, 2, 3]]

      Nome   Ano      Km
0      Gol  1999  100000
1  Ferrari  2020     900
2      Bmw  2021   18000
3    Jetta  2015  150000

In [ ]:
dataset.iloc[:, [3, 0, 2]]

       Km     Nome   Ano
0  100000      Gol  1999
1     900  Ferrari  2020
2   18000      Bmw  2021
3  150000    Jetta  2015

In [ ]:
dataset.iloc[:, [3, 3, 3]]

       Km      Km      Km
0  100000  100000  100000
1     900     900     900
2   18000   18000   18000
3  150000  150000  150000

In [ ]:
df_km = dataset.iloc[:, [3, 3, 3]]

In [ ]:
df_km

       Km      Km      Km
0  100000  100000  100000
1     900     900     900
2   18000   18000   18000
3  150000  150000  150000

In [ ]:
dataset

      Nome  Motor   Ano      Km
0      Gol    1.0  1999  100000
1  Ferrari    5.0  2020     900
2      Bmw    2.0  2021   18000
3    Jetta    2.0  2015  150000

In [ ]:
dataset = dataset.iloc[:, [0, 2, 1, 3]]

In [ ]:
dataset

      Nome   Ano  Motor      Km
0      Gol  1999    1.0  100000
1  Ferrari  2020    5.0     900
2      Bmw  2021    2.0   18000
3    Jetta  2015    2.0  150000

In [ ]:
dataset.columns

Index(['Nome', 'Ano', 'Motor', 'Km'], dtype='object')

In [ ]:
dataset = dataset[['Nome', 'Ano',  'Km', 'Motor']]

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset.iloc[:, [3, 3, 3]]

   Motor  Motor  Motor
0    1.0    1.0    1.0
1    5.0    5.0    5.0
2    2.0    2.0    2.0
3    2.0    2.0    2.0

In [ ]:
dataset = dataset.set_index('Nome')

In [ ]:
dataset

          Ano      Km  Motor
Nome
Gol      1999  100000    1.0
Ferrari  2020     900    5.0
Bmw      2021   18000    2.0
Jetta    2015  150000    2.0

In [ ]:
dataset = dataset.reset_index()

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset.set_index('Nome', inplace=True)

In [ ]:
dataset

          Ano      Km  Motor
Nome
Gol      1999  100000    1.0
Ferrari  2020     900    5.0
Bmw      2021   18000    2.0
Jetta    2015  150000    2.0

In [ ]:
dataset.iloc[0, [1, 2]]

Km       100000.0
Motor         1.0
Name: Gol, dtype: float64

In [ ]:
dataset.loc[['Gol', 'Bmw']]

       Ano      Km  Motor
Nome
Gol   1999  100000    1.0
Bmw   2021   18000    2.0

In [ ]:
dataset.loc[['Gol', 'Bmw'], ['Km']]

          Km
Nome
Gol   100000
Bmw    18000

In [ ]:
dataset.reset_index(inplace=True)

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset.loc[[0]]

  Nome   Ano      Km  Motor
0  Gol  1999  100000    1.0

In [ ]:
dataset['Ano'] < 2021

0     True
1     True
2    False
3     True
Name: Ano, dtype: bool

In [ ]:
df_teste = dataset[dataset['Ano'] < 2021]

In [ ]:
df_teste

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
3    Jetta  2015  150000    2.0

In [ ]:
df_teste.iloc[2]

Nome      Jetta
Ano        2015
Km       150000
Motor       2.0
Name: 3, dtype: object

In [ ]:
df_teste.loc[3]

Nome      Jetta
Ano        2015
Km       150000
Motor       2.0
Name: 3, dtype: object

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset['Ano'].iloc[0] = 2000

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  2000  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  2000  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset['Ano'] > 2000

0    False
1     True
2     True
3     True
Name: Ano, dtype: bool

In [ ]:
dataset[dataset['Ano'] > 2000]

      Nome   Ano      Km  Motor
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
maiores_que_2000 = dataset['Ano'] > 2000

In [ ]:
maiores_que_2000

0    False
1     True
2     True
3     True
Name: Ano, dtype: bool

In [ ]:
dataset[maiores_que_2000]

      Nome   Ano      Km  Motor
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset[(maiores_que_2000) & (dataset['Km'] < 150000)]

      Nome   Ano     Km  Motor
1  Ferrari  2020    900    5.0
2      Bmw  2021  18000    2.0

In [ ]:
dataset[(maiores_que_2000) | (dataset['Km'] < 150000)]

      Nome   Ano      Km  Motor
0      Gol  2000  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset.query('Ano > 2000 or Km < 150000')

      Nome   Ano      Km  Motor
0      Gol  2000  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset.query('Ano > 2000 and Km < 150000')

      Nome   Ano     Km  Motor
1  Ferrari  2020    900    5.0
2      Bmw  2021  18000    2.0

In [ ]:
dataset.head()

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
aluguel.head()

                      Tipo           Bairro  ...    País  Valor_Completo
0                Quitinete       Copacabana  ...  Brasil          2200.0
1                     Casa  Jardim Botânico  ...  Brasil             NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...  Brasil          9220.0
3              Apartamento           Centro  ...  Brasil          1190.0
4              Apartamento     Higienópolis  ...  Brasil          1030.0

[5 rows x 11 columns]

In [ ]:
aluguel.shape

(32960, 11)

In [ ]:
dataset.sort_values(by='Ano', ascending=False)

      Nome   Ano      Km  Motor
2      Bmw  2021   18000    2.0
1  Ferrari  2020     900    5.0
3    Jetta  2015  150000    2.0
0      Gol  1999  100000    1.0

In [ ]:
dataset.to_excel('carros_novos.xlsx')

In [ ]:
dataset

      Nome   Ano      Km  Motor
0      Gol  1999  100000    1.0
1  Ferrari  2020     900    5.0
2      Bmw  2021   18000    2.0
3    Jetta  2015  150000    2.0

In [ ]:
dataset['Novo'] = 0

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo
0      Gol  1999  100000    1.0     0
1  Ferrari  2020     900    5.0     0
2      Bmw  2021   18000    2.0     0
3    Jetta  2015  150000    2.0     0

In [ ]:
dataset[dataset['Ano'] >= 2020]

      Nome   Ano     Km  Motor  Novo
1  Ferrari  2020    900    5.0     0
2      Bmw  2021  18000    2.0     0

In [ ]:
dataset['Novo'][dataset['Ano'] >= 2020] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo
0      Gol  1999  100000    1.0     0
1  Ferrari  2020     900    5.0     1
2      Bmw  2021   18000    2.0     1
3    Jetta  2015  150000    2.0     0

In [ ]:
dataset = dataset.append({'Nome': 'Audi',
                'Ano': 2017,
                'Km': 70000,
                'Motor': 2.0,
                'Novo':0
                }, ignore_index=True)

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo
0      Gol  1999  100000    1.0     0
1  Ferrari  2020     900    5.0     1
2      Bmw  2021   18000    2.0     1
3    Jetta  2015  150000    2.0     0
4     Audi  2017   70000    2.0     0

In [ ]:
dataset['Novo'].value_counts()

0    3
1    2
Name: Novo, dtype: int64

In [ ]:
aluguel[aluguel['Bairro'] == 'Flamengo'].count()

Tipo              812
Bairro            812
Quartos           812
Vagas             812
Suites            812
Area              812
Valor             812
Condominio        790
IPTU              626
País              812
Valor_Completo    790
dtype: int64

In [ ]:
aluguel['Bairro'].value_counts()

Barra da Tijuca             6259
Centro                      3258
Copacabana                  3186
Ipanema                     2233
Recreio dos Bandeirantes    2127
                            ...
Cachamorra                     1
Vasco da Gama                  1
Cidade de Deus                 1
Itaguaí                        1
Sepetiba                       1
Name: Bairro, Length: 162, dtype: int64

In [ ]:
dataset['Novo'].value_counts()

0    3
1    2
Name: Novo, dtype: int64

In [ ]:
dataset.groupby(['Motor'])['Km'].agg(['count', 'max', 'min', 'mean', 'median'])

       count     max     min           mean    median
Motor
1.0        1  100000  100000  100000.000000  100000.0
2.0        3  150000   18000   79333.333333   70000.0
5.0        1     900     900     900.000000     900.0

In [ ]:
aluguel['Quartos'].value_counts()

0      9851
2      8419
3      6829
1      4000
4      3065
5       572
6       137
7        30
8        19
10       11
27        7
11        4
12        4
9         4
100       2
14        2
23        1
32        1
24        1
22        1
Name: Quartos, dtype: int64

In [ ]:
aluguel.groupby(['Bairro']).median().sort_values(by='IPTU', ascending=False)

                     Quartos  Vagas  ...     IPTU  Valor_Completo
Bairro                               ...
Jardim América           1.0    0.0  ...  11133.5          1100.0
Cidade de Deus           0.0   90.0  ...   6000.0             NaN
Pavuna                   0.0    0.0  ...   3400.0         47567.0
Caju                     0.0    0.0  ...   2678.0        133790.0
Parada de Lucas          0.0    0.0  ...   2527.0          1152.0
...                      ...    ...  ...      ...             ...
Senador Vasconcelos      1.0    1.0  ...      NaN          1030.0
Sepetiba                 0.0    2.0  ...      NaN             NaN
Turiaçu                  2.0    0.0  ...      NaN           736.0
Vasco da Gama            0.0   20.0  ...      NaN             NaN
Vila Kosmos              2.0    0.5  ...      NaN          1396.0

[162 rows x 8 columns]

In [ ]:
aluguel.groupby(['Bairro']).median().sort_values(by='Condominio', ascending=False)

                        Quartos  Vagas  ...    IPTU  Valor_Completo
Bairro                                  ...
Caju                        0.0    0.0  ...  2678.0        133790.0
Cidade Nova                 0.0    4.0  ...  1195.0         84474.5
Pavuna                      0.0    0.0  ...  3400.0         47567.0
Arpoador                    2.0    1.5  ...   518.0         10900.0
São Conrado                 3.0    2.0  ...   500.0          7730.0
...                         ...    ...  ...     ...             ...
Ricardo de Albuquerque      1.0    0.0  ...     NaN             NaN
Senador Camará              1.0    0.5  ...     NaN             NaN
Sepetiba                    0.0    2.0  ...     NaN             NaN
Vasco da Gama               0.0   20.0  ...     NaN             NaN
Vila Militar                0.5    0.0  ...   291.0             NaN

[162 rows x 8 columns]

## O que está acontecendo aqui?
- Pq bairros como Copacabana e Barra não aparecem entre os mais caros?
- Existem quantos valores ausentes nesses bairros?
- Este é o problema?

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo
0      Gol  1999  100000    1.0     0
1  Ferrari  2020     900    5.0     1
2      Bmw  2021   18000    2.0     1
3    Jetta  2015  150000    2.0     0
4     Audi  2017   70000    2.0     0

In [ ]:
dataset['Novo'].value_counts()

0    3
1    2
Name: Novo, dtype: int64

In [ ]:
classes_veiculos = {0:'Veiculos Antigos', 1:'Veiculos Novos'}

In [ ]:
classes_veiculos

{0: 'Veiculos Antigos', 1: 'Veiculos Novos'}

In [ ]:
dataset['Novo_Label'] = dataset['Novo'].map(classes_veiculos)

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo    Classe Veiculo        Novo_Label
0      Gol  1999  100000    1.0     0  Veiculos Antigos  Veiculos Antigos
1  Ferrari  2020     900    5.0     1    Veiculos Novos    Veiculos Novos
2      Bmw  2021   18000    2.0     1    Veiculos Novos    Veiculos Novos
3    Jetta  2015  150000    2.0     0  Veiculos Antigos  Veiculos Antigos
4     Audi  2017   70000    2.0     0  Veiculos Antigos  Veiculos Antigos

In [ ]:
dataset.drop(columns=['Classe Veiculo'], inplace=True)

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo        Novo_Label
0      Gol  1999  100000    1.0     0  Veiculos Antigos
1  Ferrari  2020     900    5.0     1    Veiculos Novos
2      Bmw  2021   18000    2.0     1    Veiculos Novos
3    Jetta  2015  150000    2.0     0  Veiculos Antigos
4     Audi  2017   70000    2.0     0  Veiculos Antigos

In [ ]:
def adiciona_um(x):
  return x + 1

In [ ]:
dataset['Ano'] = dataset['Ano'].apply(adiciona_um)

In [ ]:
dataset.head()

      Nome   Ano      Km  Motor  Novo        Novo_Label
0      Gol  2000  100000    1.0     0  Veiculos Antigos
1  Ferrari  2021     900    5.0     1    Veiculos Novos
2      Bmw  2022   18000    2.0     1    Veiculos Novos
3    Jetta  2016  150000    2.0     0  Veiculos Antigos
4     Audi  2018   70000    2.0     0  Veiculos Antigos

In [ ]:
fn = lambda x: x + 1
fn(2)

3

In [ ]:
entrada = [2, 8, 14, 5, 7, 19]

In [ ]:
list(map(lambda x: x + 1, entrada))

[3, 9, 15, 6, 8, 20]

In [ ]:
dataset['Ano'] = dataset['Ano'].apply(lambda x: x + 1)

In [ ]:
dataset

      Nome   Ano      Km  Motor  Novo        Novo_Label
0      Gol  2001  100000    1.0     0  Veiculos Antigos
1  Ferrari  2022     900    5.0     1    Veiculos Novos
2      Bmw  2023   18000    2.0     1    Veiculos Novos
3    Jetta  2017  150000    2.0     0  Veiculos Antigos
4     Audi  2019   70000    2.0     0  Veiculos Antigos

### Tarefas de Hoje

- Faça uma função que receba o ano do veiculo  e devolva 0 ou 1 para a coluna Novo
- Tente reproduzir a função criada por lambda

In [ ]:
aluguel.head()

                      Tipo           Bairro  ...    País  Valor_Completo
0                Quitinete       Copacabana  ...  Brasil          2200.0
1                     Casa  Jardim Botânico  ...  Brasil             NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...  Brasil          9220.0
3              Apartamento           Centro  ...  Brasil          1190.0
4              Apartamento     Higienópolis  ...  Brasil          1030.0

[5 rows x 11 columns]

### Aluguel

- Existem hoteis no dataset? Quais? Onde estão localizados?
- Imoveis com suites estão localizdos em quais bairros?
- Quais os 10 bairros com condominios mais barato do dataset?
- Calcule o IPTU por metro, crie uma coluna com esse resultado
- Calcule o valor por metro, crie uma coluna com esse resultado
- Apresente os bairros com o metro mais caro de IPTU
- Apresente os bairros com o metro mais caro de Valor

- Apresente os mais baratos nessas condições tb