In [1]:
import sqlite3
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
music = sqlite3.connect('/content/drive/MyDrive/colab/music-store.db')
restaurant = sqlite3.connect('/content/drive/MyDrive/colab/restaurant_sqlite.db')

In [14]:
def consulta(query, conn=music):
  return pd.read_sql(query, conn)

In [15]:
consulta('SELECT * FROM customers')

,id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

In [16]:
consulta('SELECT * FROM invoices')

,id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total
0,1,2,2007-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2007-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2007-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2007-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2007-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...
407,408,25,2011-12-05 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,2011-12-06 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,2011-12-09 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
410,411,44,2011-12-14 00:00:00,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
411,412,58,2011-12-22 00:00:00,"12,Community Centre",Delhi,None,India,110017,1.99

In [18]:
consulta('SELECT * FROM invoice_lines')

        id  invoice_id  track_id  unit_price  quantity
0        1           1         2        0.99         1
1        2           1         4        0.99         1
2        3           2         6        0.99         1
3        4           2         8        0.99         1
4        5           2        10        0.99         1
...    ...         ...       ...         ...       ...
2235  2236         411      3136        0.99         1
2236  2237         411      3145        0.99         1
2237  2238         411      3154        0.99         1
2238  2239         411      3163        0.99         1
2239  2240         412      3177        1.99         1

[2240 rows x 5 columns]

In [19]:
consulta('SELECT DISTINCT(quantity) FROM invoice_lines')

   quantity
0         1

In [26]:
df = consulta('SELECT * FROM invoice_lines')

In [27]:
df.head()

   id  invoice_id  track_id  unit_price  quantity
0   1           1         2        0.99         1
1   2           1         4        0.99         1
2   3           2         6        0.99         1
3   4           2         8        0.99         1
4   5           2        10        0.99         1

In [25]:
consulta('SELECT * FROM invoice_lines')['quantity'].value_counts()

1    2240
Name: quantity, dtype: int64

In [29]:
# tracks
# invoice_lines

consulta("""
SELECT t.name, t.composer, i.invoice_id FROM invoice_lines i 
INNER JOIN tracks t ON i.track_id = t.id
""")

,name,composer,invoice_id
0,Balls to the Wall,None,1
1,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",1
2,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",2
3,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",2
4,Evil Walks,"Angus Young, Malcolm Young, Brian Johnson",2
...,...,...,...
2235,Looking For Love,Sykes,411
2236,Sweet Lady Luck,Vandenberg,411
2237,Feirinha da Pavuna/Luz do Repente/Bagaço da La...,"Arlindo Cruz/Franco/Marquinhos PQD/Negro, Jove...",411
2238,Samba pras moças,Grazielle/Roque Ferreira,411
2239,Hot Girl,None,412

In [30]:
consulta("""
SELECT t.name, t.composer, i.invoice_id 
FROM invoice_lines i LEFT JOIN tracks t ON i.track_id = t.id
""")

,name,composer,invoice_id
0,Balls to the Wall,None,1
1,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",1
2,Put The Finger On You,"Angus Young, Malcolm Young, Brian Johnson",2
3,Inject The Venom,"Angus Young, Malcolm Young, Brian Johnson",2
4,Evil Walks,"Angus Young, Malcolm Young, Brian Johnson",2
...,...,...,...
2235,Looking For Love,Sykes,411
2236,Sweet Lady Luck,Vandenberg,411
2237,Feirinha da Pavuna/Luz do Repente/Bagaço da La...,"Arlindo Cruz/Franco/Marquinhos PQD/Negro, Jove...",411
2238,Samba pras moças,Grazielle/Roque Ferreira,411
2239,Hot Girl,None,412

In [33]:
consulta("""
SELECT t.name, t.composer, i.invoice_id 
FROM  tracks t LEFT JOIN invoice_lines i  ON t.id = i.track_id
""")

,name,composer,invoice_id
0,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",108.0
1,Balls to the Wall,None,1.0
2,Balls to the Wall,None,214.0
3,Fast As a Shark,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",319.0
4,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",1.0
...,...,...,...
3754,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Franz Schubert,108.0
3755,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Franz Schubert,319.0
3756,"L'orfeo, Act 3, Sinfonia (Orchestra)",Claudio Monteverdi,NaN
3757,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Wolfgang Amadeus Mozart,NaN
3758,Koyaanisqatsi,Philip Glass,NaN

In [34]:
consulta("""
SELECT * 
FROM  tracks t LEFT JOIN invoice_lines i  ON t.id = i.track_id
""")

,id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price,id,invoice_id,track_id,unit_price,quantity
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,579.0,108.0,1.0,0.99,1.0
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1.0,1.0,2.0,0.99,1.0
2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1154.0,214.0,2.0,0.99,1.0
3,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,1728.0,319.0,3.0,0.99,1.0
4,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2.0,1.0,4.0,0.99,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3754,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,578.0,108.0,3500.0,0.99,1.0
3755,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,1727.0,319.0,3500.0,0.99,1.0
3756,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99,NaN,NaN,NaN,NaN,NaN
3757,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99,NaN,NaN,NaN,NaN,NaN
3758,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99,NaN,NaN,NaN,NaN,NaN

In [35]:
tracks = consulta("""
SELECT * FROM tracks
""")

In [36]:
tracks.head()

,id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

In [37]:
invoice_lines = consulta("""
SELECT * FROM invoice_lines
""")

In [38]:
invoice_lines.head()

   id  invoice_id  track_id  unit_price  quantity
0   1           1         2        0.99         1
1   2           1         4        0.99         1
2   3           2         6        0.99         1
3   4           2         8        0.99         1
4   5           2        10        0.99         1

In [42]:
tracks.merge(invoice_lines, how='left', left_on='id', right_on='track_id')
#SELECT * FROM tracks LEFT JOIN invoice_lines ON tracks.id = invoice_lines.track_id

,id_x,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price_x,id_y,invoice_id,track_id,unit_price_y,quantity
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,579,108,1,0.99,1
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1,1,2,0.99,1
2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1154,214,2,0.99,1
3,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,1728,319,3,0.99,1
4,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,1,4,0.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,3494,"Symphony No. 2, Op. 16 - ""The Four Temperamen...",338,2,24,Carl Nielsen,286998,4834785,0.99,1726,319,3494,0.99,1
2236,3496,"Étude 1, In C Major - Preludio (Presto) - Liszt",340,4,24,None,51780,2229617,0.99,577,108,3496,0.99,1
2237,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99,1153,214,3499,0.99,1
2238,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,578,108,3500,0.99,1
2239,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,1727,319,3500,0.99,1

In [43]:
tracks.merge(invoice_lines, how='right', left_on='id', right_on='track_id')

,id_x,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price_x,id_y,invoice_id,track_id,unit_price_y,quantity
0,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1,1,2,0.99,1
1,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,1,4,0.99,1
2,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,3,2,6,0.99,1
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,4,2,8,0.99,1
4,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99,5,2,10,0.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,3136,Looking For Love,141,1,3,Sykes,391941,12769847,0.99,2236,411,3136,0.99,1
2236,3145,Sweet Lady Luck,141,1,3,Vandenberg,273737,8919163,0.99,2237,411,3145,0.99,1
2237,3154,Feirinha da Pavuna/Luz do Repente/Bagaço da La...,248,1,7,"Arlindo Cruz/Franco/Marquinhos PQD/Negro, Jove...",107206,3593684,0.99,2238,411,3154,0.99,1
2238,3163,Samba pras moças,248,1,7,Grazielle/Roque Ferreira,152816,5121366,0.99,2239,411,3163,0.99,1
2239,3177,Hot Girl,249,3,19,None,1325458,267836576,1.99,2240,412,3177,1.99,1

In [45]:
# INNER

tracks.merge(invoice_lines, left_on='id', right_on='track_id')

,id_x,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price_x,id_y,invoice_id,track_id,unit_price_y,quantity
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,579,108,1,0.99,1
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1,1,2,0.99,1
2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,1154,214,2,0.99,1
3,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,1728,319,3,0.99,1
4,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,1,4,0.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,3494,"Symphony No. 2, Op. 16 - ""The Four Temperamen...",338,2,24,Carl Nielsen,286998,4834785,0.99,1726,319,3494,0.99,1
2236,3496,"Étude 1, In C Major - Preludio (Presto) - Liszt",340,4,24,None,51780,2229617,0.99,577,108,3496,0.99,1
2237,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99,1153,214,3499,0.99,1
2238,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,578,108,3500,0.99,1
2239,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99,1727,319,3500,0.99,1

In [48]:
consulta("""
SELECT * FROM employees
""")

,id,last_name,first_name,title,reports_to,birth_date,hire_date,address,city,state,country,postal_code,phone,fax,email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [56]:
consulta("""
  SELECT * from employees WHERE id IN (SELECT DISTINCT reports_to FROM employees)
  """)

,id,last_name,first_name,title,reports_to,birth_date,hire_date,address,city,state,country,postal_code,phone,fax,email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com

In [60]:
consulta("""
  SELECT DISTINCT reports_to FROM employees
  """)

   reports_to
0         NaN
1         1.0
2         2.0
3         6.0

In [65]:
consulta("""
  SELECT * from employees WHERE id NOT IN (SELECT DISTINCT reports_to FROM employees)
  """)

Empty DataFrame
Columns: [id, last_name, first_name, title, reports_to, birth_date, hire_date, address, city, state, country, postal_code, phone, fax, email]
Index: []

In [71]:
# < 8 barato
# 8 - 12 normal
# > 12 caro

df = consulta("""
  SELECT total,
    CASE
      WHEN total < 8 THEN "Barato"
      WHEN total < 12 THEN "Normal"
      WHEN total >= 12 THEN "Caro"
    END AS categoria_invoice, billing_country
   FROM invoices
  """)

In [72]:
df

     total categoria_invoice billing_country
0     1.98            Barato         Germany
1     3.96            Barato          Norway
2     5.94            Barato         Belgium
3     8.91            Normal          Canada
4    13.86              Caro             USA
..     ...               ...             ...
407   3.96            Barato             USA
408   5.94            Barato          Canada
409   8.91            Normal        Portugal
410  13.86              Caro         Finland
411   1.99            Barato           India

[412 rows x 3 columns]

In [74]:
df['categoria_invoice'].value_counts(normalize=True)

Barato    0.708738
Caro      0.148058
Normal    0.143204
Name: categoria_invoice, dtype: float64

### Problema do Renan:

Encontrar os produtos mais lucrativos.

In [83]:
consulta("""
SELECT * FROM tracks WHERE id NOT IN (SELECT DISTINCT track_id FROM invoice_lines)
""")

,id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price
0,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
1,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
2,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99
3,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99
4,22,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99
...,...,...,...,...,...,...,...,...,...
1514,3497,"Erlkonig, D.328",341,2,24,None,261849,4307907,0.99
1515,3498,"Concerto for Violin, Strings and Continuo in G...",342,4,24,Pietro Antonio Locatelli,493573,16454937,0.99
1516,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
1517,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
1518,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [84]:
consulta("""
SELECT * FROM invoice_lines
""")

        id  invoice_id  track_id  unit_price  quantity
0        1           1         2        0.99         1
1        2           1         4        0.99         1
2        3           2         6        0.99         1
3        4           2         8        0.99         1
4        5           2        10        0.99         1
...    ...         ...       ...         ...       ...
2235  2236         411      3136        0.99         1
2236  2237         411      3145        0.99         1
2237  2238         411      3154        0.99         1
2238  2239         411      3163        0.99         1
2239  2240         412      3177        1.99         1

[2240 rows x 5 columns]

#### Outro problema do Renan:

Proporção de venda (qtd e faturamento) por categoria